<ng-container>
  <button (click)="getCardsByName()">Get Only Price</button>
  <div *ngFor="let card of businessCards | async">
    <ul>
      <li><a [routerLink]="['/new', card.customIdName]">EDIT</a></li>
      <li>Company: {{ card.company }}</li>
      <li>Position: {{ card.position }}</li>
      <li>First Name: {{ card.firstName }}</li>
      <li>Last Name: {{ card.lastName }}</li>
      <li>
        Street Address: {{ card.address }} City: {{ card.city }} State:
        {{ card.state }}
      </li>
    </ul>
  </div>
</ng-container>
