<mat-card-header>
  <mat-card-title>Search Cards</mat-card-title>
</mat-card-header>
<form [formGroup]="nameSearch" novalidate (ngSubmit)="getCardsByName()">
  <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
  <mat-card class="shipping-card">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Person to search"
          formControlName="personName"
        />
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Search Person
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
<form [formGroup]="companySearch" novalidate (ngSubmit)="getCardsByCompany()">
  <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
  <mat-card class="shipping-card">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Company to search"
          formControlName="companyName"
        />
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Search Company
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>

<ng-container>
  <div *ngFor="let card of businessCards | async">
    <ul>
      <li><a [routerLink]="['/new', card.customIdName]">EDIT</a></li>
      <li><button (click)="deleteCard(card.customIdName)">Delete</button></li>
      <li>Company: {{ card.company }}</li>
      <li>Position: {{ card.position }}</li>
      <li>First Name: {{ card.firstName }}</li>
      <li>Last Name: {{ card.lastName }}</li>
      <li>Phone: {{ card.phone }}</li>
      <li>Email: {{ card.email }}</li>
      <li><img src="{{ card.imageURL }}" /></li>
      <li>
        Street Address: {{ card.address }} City: {{ card.city }} State:
        {{ card.state }}
      </li>
    </ul>
  </div>
</ng-container>
