<mat-toolbar color="primary" class="navbar">
  <div>Carded</div>

  <div>
    <button mat-button [routerLink]="['home']" routerLinkActive="active">
      Home
    </button>
    <div
      *ngIf="auth.user$ | async as user; then authenticated; else login"
    ></div>
    <ng-template #authenticated>
      <button mat-button [routerLink]="['new']" routerLinkActive="active">
        New Business Card
      </button>

      <button mat-button [routerLink]="['cards']" routerLinkActive="active">
        List Business Cards
      </button>

      <button mat-button [routerLink]="['search']" routerLinkActive="active">
        Search Business Cards
      </button>

      <button
        *ngIf="auth.user$ | async as user"
        mat-button
        (click)="auth.signOut()"
      >
        {{ user.email }}
      </button>
    </ng-template>
    <ng-template #login>
      <button mat-button [routerLink]="['login']" routerLinkActive="active">
        Login
      </button>
    </ng-template>
  </div>
</mat-toolbar>
<ng-container>
  <router-outlet></router-outlet>
</ng-container>
