<mat-toolbar color="primary" class="navbar">
  <div>Cardio</div>

  <div>
    <div
      *ngIf="auth.user$ | async as user; then authenticated; else login"
    ></div>
    <ng-template #authenticated>
      <button mat-button [routerLink]="['new']" routerLinkActive="active">
        New Business Card (Manual)
      </button>

      <button mat-button [routerLink]="['cam']" routerLinkActive="active">
        New Business Card (Webcam)
      </button>

      <button mat-button [routerLink]="['cards']" routerLinkActive="active">
        List Business Cards
      </button>

      <button
        *ngIf="auth.user$ | async as user"
        mat-button
        (click)="auth.signOut()"
      >
        {{ user.email }} <sub>(logout)</sub>
      </button>
    </ng-template>
    <ng-template #login>
      <button mat-button [routerLink]="['home']" routerLinkActive="active">
        Login With Course Credentials
      </button>
      <button mat-button [routerLink]="['login']" routerLinkActive="active">
        Login With Google
      </button>
    </ng-template>
  </div>
</mat-toolbar>
<ng-container>
  <router-outlet></router-outlet>
</ng-container>
